.champion {
    background-color:#c8d7de ;
    display: flex;
}
.champ {
    width: 400px;
}
.champ h1 {
    font-size: clamp(30px, 3.73333vw, 40px);
    line-height: 125%;
    font-weight: 700;
    font-family: var(--poppins);
    margin-bottom: 40px;
}
.champ p {
    font-size: clamp(18px, 1.33333vw, 18px);
    line-height: 155%;
    font-family: var(--openSans);
}
.champ button {
    width: fit-content;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 12px 30px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    font-weight: 600;
    transition: var(--defaultTransition);
    background-color: transparent;
    border: 2px solid black;
    color: black;
}