
.Quality {
   
    background-color:#c4bfbf;
    top: 0;
    
}
.Qua1 {
    width: 500px;
}
.Para {
    width: 400px;
    font-size: 15px;
    font-size: clamp(18px, 1.33333vw, 18px);
    line-height: 155%;
    font-family: var(--openSans);
    color: rgb(48, 70, 48);
}
